.Rproj.user
.Rhistory
.RData
.Rdata
.Ruserdata
thesis.log
_bookdown_files
desktop.ini
.httr-oauth
.DS_Store
template.toc
template.synctex.gz
template.pdf
template.lot
template.log
template.lof
test.aux
test.pdf
test.synctex.gz
test.tex
thesis.aux
thesis.lof
thesis.lot
thesis.out
thesis.pdf
thesis.toc
thesis.tex
