.Rproj.user
.Rhistory
.RData
.Rdata
.Ruserdata
thesis.log
_bookdown_files
desktop.ini
.httr-oauth
.DS_Store
template.toc
template.synctex.gz
template.pdf
template.lot
template.log
template.lof
2020+FNGLA+Funding+Report_Final.pdf
StudentSubmission.pdf
StudentSubmission2.pdf
StudentSubmission3.pdf
thesis.tex
thesis.Rmd
